.cart-un-order-list {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 5px;
}
.cart-main-container {
  background-color: #f9fbfe;
  box-sizing: border-box;
  border: 0.1px solid #0b69ff;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 5px;
  min-height: 95vh;
}
.cart-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}
.cart-header-item-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #475569;
  width: 140px;
  text-align: center;
}
.cart-quantity-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #475569;
}
.cart-price-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #475569;
}
@media screen and (max-width: 767px) {
  .card-header {
    display: none;
  }
}
.remove-all-button {
  width: 100px;
  border: none;
  border-radius: 5px;
  height: 35px;
  margin-right: 30px;
  background-color: #ffa412;
  opacity: 0.6;
  cursor: pointer;
  color: #000000;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
}
.empty-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  padding: 15px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  padding: 15px;
}
.empty-cart-image {
  width: 30%;
}
.empty-card-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #1e293b;
}
.empty-cart-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #64748b;
}
.order-now-button {
  width: 100px;
  height: 35px;
  background-color: #f7931e;
  border-radius: 8px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.hr-cart {
  border: 1px dashed #cbd2d9;
}
.payment-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.payment-icon {
  width: 50px;
  height: 50px;
  color: #22c55e;
}
.payment-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #1e293b;
}
.payment-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #64748b;
}
.go-home-button {
  width: 150px;
  height: 35px;
  background-color: #f7931e;
  border-radius: 8px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}
