.home-header {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #183b56;
}
.home-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #64748b;
}
.hr-home {
  border: 1.5px solid #cbd2d9;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-button {
  margin: 0px 20px;
  cursor: pointer;
}
.un-order-restaurant-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.home-header-container {
  margin-left: 45px;
}
.select {
  width: 130px;
  height: 35px;
  padding-right: 5px;
  outline: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #475569;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.sorting {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #475569;
}
.sort-contain {
  display: flex;
  align-items: center;
}
.option-tag {
  padding: 500px;
}
.filter-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }
}
.sort-container {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.search-container {
  display: flex;
  align-items: center;
}
.search-input {
  border-left: 1px solid #475569;
  border-top: 1px solid #475569;
  border-bottom: 1px solid #475569;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 160px;
  height: 30px;
  outline: none;
  padding-left: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #475569;
}
.search-button {
  border-left: none;
  border-top: 1px solid #475569;
  border-bottom: 1px solid #475569;
  border-right: 1px solid #475569;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 50px;
  height: 30px;
  background-color: #f1d6b6;
  cursor: pointer;
}
.pagination-num {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #334155;
}
